# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables
.env
!.env.example

# Database
backend/*.db-journal

# Uploads / Temp files
backend/uploads/*
!backend/uploads/.gitkeep

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
